In [2]:
import pandas as pd
import numpy as np

In [184]:
df = pd.read_csv("data/fridges_info-2019-04.csv")

In [60]:
df.head(5)

,ID,Title,Category,Location,Country,Model,Brand,Capacity,Condition,DeliveryTime,DispatchTimeMax,Price,Currency,URL
0,123344920311,ASKO Pro Series Refrigerator and wine fridge N...,Refrigerators,Essendon^VIC^Australia,AU,RWF2826 RF2826,ASKO,None,Brand New,None,None,13333.0,AUD,http://www.ebay.com.au/itm/ASKO-Pro-Series-Ref...
1,382766518976,Commercial Dairy / Fruit & Veg Fridge in Great...,Refrigerators,North Albury^NSW^Australia,AU,KM-20,Austral,None,Used,None,None,10000.0,AUD,http://www.ebay.com.au/itm/Commercial-Dairy-Fr...
2,273670120203,NEW Liebherr ECBN5066LH 462L Integrated Bottom...,Refrigerators,Sydney^NSW^Australia,AU,None,Liebherr,462,Brand New,3,3,8552.0,AUD,http://www.ebay.com.au/itm/NEW-Liebherr-ECBN50...
3,283270332978,NEW Samsung SRF751CCSS 751L French Door Fridge,Refrigerators,Sydney^NSW^Australia,AU,None,Samsung,751,Brand New,6,3,7178.0,AUD,http://www.ebay.com.au/itm/NEW-Samsung-SRF751C...
4,183749166305,LIEBHERR 726L SMART STEEL SBS PAIR - SBSes7353...,Refrigerators,Rosanna^VIC^Australia,AU,None,Liebherr,726,Brand New,None,None,6999.0,AUD,http://www.ebay.com.au/itm/LIEBHERR-726L-SMART...

In [185]:
df.columns

Index(['ID', 'Title', 'Category', 'Location', 'Country', 'Model', 'Brand',
       'Capacity', 'Condition', 'DeliveryTime', 'DispatchTimeMax', 'Price',
       'Currency', 'URL'],
      dtype='object')

In [186]:
def extract_state(location):

    if len(location) == 3 :
        return location[-2]
    else :
        return location [-1]

In [187]:
df_au=df[df["Country"]=="AU"]

In [188]:
df_au["State"] = df_au["Location"].str.split("^").apply(extract_state)

E:\Tools\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [189]:
df_au.head()

,ID,Title,Category,Location,Country,Model,Brand,Capacity,Condition,DeliveryTime,DispatchTimeMax,Price,Currency,URL,State
0,123344920311,ASKO Pro Series Refrigerator and wine fridge N...,Refrigerators,Essendon^VIC^Australia,AU,RWF2826 RF2826,ASKO,None,Brand New,None,None,13333.0,AUD,http://www.ebay.com.au/itm/ASKO-Pro-Series-Ref...,VIC
1,382766518976,Commercial Dairy / Fruit & Veg Fridge in Great...,Refrigerators,North Albury^NSW^Australia,AU,KM-20,Austral,None,Used,None,None,10000.0,AUD,http://www.ebay.com.au/itm/Commercial-Dairy-Fr...,NSW
2,273670120203,NEW Liebherr ECBN5066LH 462L Integrated Bottom...,Refrigerators,Sydney^NSW^Australia,AU,None,Liebherr,462,Brand New,3,3,8552.0,AUD,http://www.ebay.com.au/itm/NEW-Liebherr-ECBN50...,NSW
3,283270332978,NEW Samsung SRF751CCSS 751L French Door Fridge,Refrigerators,Sydney^NSW^Australia,AU,None,Samsung,751,Brand New,6,3,7178.0,AUD,http://www.ebay.com.au/itm/NEW-Samsung-SRF751C...,NSW
4,183749166305,LIEBHERR 726L SMART STEEL SBS PAIR - SBSes7353...,Refrigerators,Rosanna^VIC^Australia,AU,None,Liebherr,726,Brand New,None,None,6999.0,AUD,http://www.ebay.com.au/itm/LIEBHERR-726L-SMART...,VIC

In [190]:
df_au.count()

ID                 6696
Title              6696
Category           6696
Location           6696
Country            6696
Model              6609
Brand              6665
Capacity           6685
Condition          6696
DeliveryTime       6696
DispatchTimeMax    6696
Price              6696
Currency           6696
URL                6694
State              6696
dtype: int64

In [191]:
df_au.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6696 entries, 0 to 8310
Data columns (total 15 columns):
ID                 6696 non-null int64
Title              6696 non-null object
Category           6696 non-null object
Location           6696 non-null object
Country            6696 non-null object
Model              6609 non-null object
Brand              6665 non-null object
Capacity           6685 non-null object
Condition          6696 non-null object
DeliveryTime       6696 non-null object
DispatchTimeMax    6696 non-null object
Price              6696 non-null object
Currency           6696 non-null object
URL                6694 non-null object
State              6696 non-null object
dtypes: int64(1), object(14)
memory usage: 837.0+ KB

In [192]:
def clean_brand(brand_str):
    return str(brand_str).upper()

df_au["Brand"] = df_au["Brand"].apply(clean_brand)

E:\Tools\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [193]:
df_au['Brand'].value_counts()[:6]

WESTINGHOUSE       1734
KELVINATOR         1393
FISHER & PAYKEL     591
SAMSUNG             325
NONE                236
LG                  210
Name: Brand, dtype: int64

In [194]:
def clean_price(price_str):
    try : 
         price = float(price_str)
    except:
        try : 
            price = float(''.join(ele for ele in price_str if ele.isdigit() or ele == '.'))
        except:
            price=0
    return price
#df_au.loc[df_au["Price"]].apply(clean_price)
df_au["Price"] = df_au["Price"].apply(clean_price)

E:\Tools\Anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [195]:
df_au["Price"].head()

0    13333.0
1    10000.0
2     8552.0
3     7178.0
4     6999.0
Name: Price, dtype: float64

In [196]:
df_au[["Price","State","Brand"]].groupby(["State","Brand"]).describe()

                                             Price                            \
                                             count          mean         std
State     Brand
ACT       FISHER & PAYKEL                      1.0    400.000000         NaN
          LG                                   1.0    600.000000         NaN
          SAMSUNG                              2.0    307.500000  272.236111
Australia BARE-CO                              1.0     73.800000         NaN
          DOES NOT APPLY                       5.0    144.980000   44.813525
          ELECTROLUX                           1.0     86.000000         NaN
          ENGEL                                1.0   1250.000000         NaN
          FISHER & PAYKEL                      4.0     77.500000    5.000000
          HELLER                               2.0    222.880000    0.000000
          KELVINATOR                           3.0     69.583333    0.548483
          KOGAN                                4.0    133.280000   38.797938
          MASON TAYLOR                        19.0    323.621579  194.113429
          NONE                                 3.0    267.776667  241.190707
          SAMSUNG                              2.0    309.500000  156.270599
          SMEG                                 1.0   1800.000000         NaN
          UNBRANDED                            4.0    434.275000  317.142888
          WESTINGHOUSE                         1.0     69.900000         NaN
NSW        LG                                  1.0     65.000000         NaN
          AIRFLO                               1.0   1189.000000         NaN
          AKAI                                 1.0   1199.000000         NaN
          AL PICOOL                            4.0    455.000000   58.022984
          AMANA                                2.0    437.500000  512.652416
          AMANA  KLEENMAID                     1.0     65.000000         NaN
          AQUA BLUE H20                        3.0     96.333333   35.571524
          AQUA BLUE H20 FILTER                10.0    104.000000    0.000000
          AQUA BLUE H2O                        4.0    137.500000   64.314332
          ARISTON                              1.0    450.000000         NaN
          ARTUSI                               3.0   1171.333333   37.501111
          AUSTRAL                              1.0  10000.000000         NaN
          BARE-CO                              2.0    243.700000  240.274884
...                                            ...           ...         ...
WA        HOTPOINT                             2.0     95.000000    0.000000
          HUSKY                                1.0   1999.000000         NaN
          IGNIS                               52.0     84.519231    3.466876
          INDESIT                              4.0     90.000000    0.000000
          JENN-AIR                             1.0    315.000000         NaN
          KELVINATOR                        1295.0     78.495614   11.831624
          KENWOOD                              2.0     68.250000   11.667262
          LG                                  11.0    368.544545  434.760862
          MAYTAG                               6.0    298.166667    1.663330
          MAYTAG WHIRLPOOL KENMORE JEENAIR     1.0     65.000000         NaN
          MITSUBISHI                           1.0     66.570000         NaN
          NONE                                27.0    102.860741   85.743430
          NORGE                               22.0     68.250000    8.444144
          P SEAL                               5.0    121.720000   50.064928
          PACIFIC                             18.0     65.500000    8.003676
          PHILIPS                              2.0     85.000000    0.000000
          PHILLIPS                            79.0     80.651899    8.436168
          SAMSUNG                              5.0    116.970000   79.038136
          SIMPSON                              2.0    102.000000    0.000000
          SKOPE                               13.0     76.153846   39.903730
          SMEG                                 4.0   1032.500000  288.949246
          SNOWMAN                              1.0     68.000000         NaN
          UNBRANDED                            2.0    152.475000   95.424060
          WESTINGHOUSE                      1021.0     91.440118   14.738590
          WHIRLPOOL                           18.0    252.888889   37.256012
          WHIRLPOOL^ MAYTAG^ KENMORE           1.0     85.000000         NaN
          WILLIAMS                            16.0     63.750000    8.062258
          WIPER STRIP                          2.0     91.375000   15.026019
          ZANUSSI                             14.0     64.714286    7.735319
          ZOPPAS                              12.0     68.250000    8.616844

                                                                             \
                                                 min         25%        50%
State     Brand
ACT       FISHER & PAYKEL                     400.00    400.0000    400.000
          LG                                  600.00    600.0000    600.000
          SAMSUNG                             115.00    211.2500    307.500
Australia BARE-CO                              73.80     73.8000     73.800
          DOES NOT APPLY                       69.90    137.0000    168.000
          ELECTROLUX                           86.00     86.0000     86.000
          ENGEL                              1250.00   1250.0000   1250.000
          FISHER & PAYKEL                      70.00     77.5000     80.000
          HELLER                              222.88    222.8800    222.880
          KELVINATOR                           68.95     69.4250     69.900
          KOGAN                                99.68     99.6800    133.280
          MASON TAYLOR                        162.99    198.9900    253.990
          NONE                                 69.90    133.4450    196.990
          SAMSUNG                             199.00    254.2500    309.500
          SMEG                               1800.00   1800.0000   1800.000
          UNBRANDED                            60.89    297.7100    422.305
          WESTINGHOUSE                         69.90     69.9000     69.900
NSW        LG                                  65.00     65.0000     65.000
          AIRFLO                             1189.00   1189.0000   1189.000
          AKAI                               1199.00   1199.0000   1199.000
          AL PICOOL                           380.00    432.5000    460.000
          AMANA                                75.00    256.2500    437.500
          AMANA  KLEENMAID                     65.00     65.0000     65.000
          AQUA BLUE H20                        71.00     76.0000     81.000
          AQUA BLUE H20 FILTER                104.00    104.0000    104.000
          AQUA BLUE H2O                        68.00     91.2500    139.500
          ARISTON                             450.00    450.0000    450.000
          ARTUSI                             1134.00   1152.5000   1171.000
          AUSTRAL                           10000.00  10000.0000  10000.000
          BARE-CO                              73.80    158.7500    243.700
...                                              ...         ...        ...
WA        HOTPOINT                             95.00     95.0000     95.000
          HUSKY                              1999.00   1999.0000   1999.000
          IGNIS                                60.00     85.0000     85.000
          INDESIT                              90.00     90.0000     90.000
          JENN-AIR                            315.00    315.0000    315.000
          KELVINATOR                           60.00     76.5000     76.500
          KENWOOD                              60.00     64.1250     68.250
          LG                                   60.90     88.9000    199.000
          MAYTAG                              295.00    298.5000    298.500
          MAYTAG WHIRLPOOL KENMORE JEENAIR     65.00     65.0000     65.000
          MITSUBISHI                           66.57     66.5700     66.570
          NONE                                 60.00     69.7500     76.500
          NORGE                                60.00     60.0000     68.250
          P SEAL                               64.60     88.4000    124.100
          PACIFIC                              60.00     60.0000     60.000
          PHILIPS                              85.00     85.0000     85.000
          PHILLIPS                             60.00     76.5000     85.000
          SAMSUNG                              65.00     69.9000     70.000
          SIMPSON                             102.00    102.0000    102.000
          SKOPE                                60.00     60.0000     60.000
          SMEG                                600.00   1012.5000   1170.000
          SNOWMAN                              68.00     68.0000     68.000
          UNBRANDED                            85.00    118.7375    152.475
          WESTINGHOUSE                         60.00     90.0000     90.000
          WHIRLPOOL                           120.00    254.6000    254.600
          WHIRLPOOL^ MAYTAG^ KENMORE           85.00     85.0000     85.000
          WILLIAMS                             60.00     60.0000     60.000
          WIPER STRIP                          80.75     86.0625     91.375
          ZANUSSI                              60.00     60.0000     60.000
          ZOPPAS                               60.00     60.0000     68.250


                                                   75%       max
State     Brand
ACT       FISHER & PAYKEL                     400.0000    400.00
          LG                                  600.0000    600.00
          SAMSUNG                             403.7500    500.00
Australia BARE-CO                              73.8000     73.80
          DOES NOT APPLY                      175.0000    175.00
          ELECTROLUX                           86.0000     86.00
          ENGEL                              1250.0000   1250.00
          FISHER & PAYKEL                      80.0000     80.00
          HELLER                              222.8800    222.88
          KELVINATOR                           69.9000     69.90
          KOGAN                               166.8800    166.88
          MASON TAYLOR                        320.9900    865.99
          NONE                                366.7150    536.44
          SAMSUNG                             364.7500    420.00
          SMEG                               1800.0000   1800.00
          UNBRANDED                           558.8700    831.60
          WESTINGHOUSE                         69.9000     69.90
NSW        LG                                  65.0000     65.00
          AIRFLO                             1189.0000   1189.00
          AKAI                               1199.0000   1199.00
          AL PICOOL                           482.5000    520.00
          AMANA                               618.7500    800.00
          AMANA  KLEENMAID                     65.0000     65.00
          AQUA BLUE H20                       109.0000    137.00
          AQUA BLUE H20 FILTER                104.0000    104.00
          AQUA BLUE H2O                       185.7500    203.00
          ARISTON                             450.0000    450.00
          ARTUSI                             1190.0000   1209.00
          AUSTRAL                           10000.0000  10000.00
          BARE-CO                             328.6500    413.60
...                                                ...       ...
WA        HOTPOINT                             95.0000     95.00
          HUSKY                              1999.0000   1999.00
          IGNIS                                85.0000     85.00
          INDESIT                              90.0000     90.00
          JENN-AIR                            315.0000    315.00
          KELVINATOR                           85.0000    150.00
          KENWOOD                              72.3750     76.50
          LG                                  428.5000   1300.00
          MAYTAG                              298.5000    300.00
          MAYTAG WHIRLPOOL KENMORE JEENAIR     65.0000     65.00
          MITSUBISHI                           66.5700     66.57
          NONE                                 87.5000    485.00
          NORGE                                76.5000     76.50
          P SEAL                              136.0000    195.50
          PACIFIC                              76.5000     76.50
          PHILIPS                              85.0000     85.00
          PHILLIPS                             85.0000     85.00
          SAMSUNG                             129.9500    250.00
          SIMPSON                             102.0000    102.00
          SKOPE                                60.0000    180.00
          SMEG                               1190.0000   1190.00
          SNOWMAN                              68.0000     68.00
          UNBRANDED                           186.2125    219.95
          WESTINGHOUSE                         90.0000    120.00
          WHIRLPOOL                           254.6000    315.00
          WHIRLPOOL^ MAYTAG^ KENMORE           85.0000     85.00
          WILLIAMS                             60.0000     80.00
          WIPER STRIP                          96.6875    102.00
          ZANUSSI                              72.3750     76.50
          ZOPPAS                               76.5000     76.50

[341 rows x 8 columns]

In [197]:
df_au['Capacity'].value_counts()

None          4894
610             31
519 L           27
340 L           24
70 L            24
520 L           23
450 L           22
540 L           19
70              18
460             18
708 L           18
1000            17
442 L           16
519             16
400 L           14
420 L           14
528 L           14
514             13
95              13
620 L           12
120             12
230 L           11
425 L           11
600             11
453 L           11
680 L           11
524 L           10
530 L           10
370 L           10
350 L           10
              ...
14               1
382              1
215              1
23               1
4 L              1
366 Litre        1
224              1
328 Litre        1
2500             1
388 L            1
335              1
517Litre         1
683 Litre        1
380 Litre        1
208              1
630L             1
532 L            1
138              1
351 L            1
452              1
1515             1
220 L            1
430 Liters       1
652              1
95l              1
57 Litre         1
450 Liters       1
828              1
362              1
255 L            1
Name: Capacity, Length: 600, dtype: int64

In [198]:
# Get rid of L in Capacity
def remove_Litr(capacity_str):
    if "L" in str(capacity_str):
        return str(capacity_str)[:capacity_str.find("L")].strip()
    else:
        return capacity_str

df_au['Capacity']=df['Capacity'].apply(remove_Litr)

E:\Tools\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [199]:
df_au['Capacity'].value_counts()

None         4894
519            43
70             43
610            39
520            34
450            31
400            29
442            27
340            24
540            24
510            23
708            21
528            20
600            20
460            19
95             18
120            18
1000           18
453            17
680            17
420            16
719            16
350            16
115            15
620            15
370            15
48             15
230            14
85             14
100            14
             ...
659             1
307             1
615             1
324             1
594             1
394             1
601             1
382             1
315             1
518             1
788             1
888             1
308             1
322             1
736             1
683             1
227             1
255             1
537             1
32 bottle       1
304             1
36              1
415             1
924             1
223             1
224             1
535             1
828             1
95l             1
653             1
Name: Capacity, Length: 384, dtype: int64

In [200]:
def get_capacity_group(cap):
    if cap==None :
        return "Nan"
    try :
        cap = int(cap)
        res = ">600"
        if cap < 200 : 
            res = "<200"
        elif cap >= 200 and cap < 250 :
            res = "200-250"
        elif cap >= 250 and cap < 300 :
            res = "250-300"
        elif cap >= 300 and cap < 350 :
            res = "300-350"
        elif cap >= 350 and cap < 400 :
            res = "350-400"
        elif cap >= 400 and cap < 450 :
            res = "400-450"
        elif cap >= 450 and cap < 500 :
            res = "450-500"
        elif cap >= 500 and cap < 550 :
            res = "500-550"
        elif cap >= 550 and cap < 600 :
            res = "550-600"
       
            
    except:
        res = "Nan"
    return res    
        
df_au["Capacity_Type"] = df_au["Capacity"].apply(get_capacity_group)

E:\Tools\Anaconda\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [201]:
df_au["Capacity_Type"].value_counts()

Nan        4933
>600        411
<200        335
500-550     267
400-450     172
450-500     121
350-400     111
200-250     103
300-350      96
250-300      82
550-600      65
Name: Capacity_Type, dtype: int64

In [204]:
df_result = df_au[["Price","State","Brand","Capacity_Type"]].groupby(["State","Brand","Capacity_Type"]).describe()
df_result

                                                           Price               \
                                                           count         mean
State     Brand                            Capacity_Type
ACT       FISHER & PAYKEL                  <200              1.0   400.000000
          LG                               400-450           1.0   600.000000
          SAMSUNG                          <200              1.0   115.000000
                                           Nan               1.0   500.000000
Australia BARE-CO                          Nan               1.0    73.800000
          DOES NOT APPLY                   Nan               5.0   144.980000
          ELECTROLUX                       Nan               1.0    86.000000
          ENGEL                            <200              1.0  1250.000000
          FISHER & PAYKEL                  Nan               4.0    77.500000
          HELLER                           <200              2.0   222.880000
          KELVINATOR                       Nan               3.0    69.583333
          KOGAN                            <200              4.0   133.280000
          MASON TAYLOR                     200-250           1.0   865.990000
                                           <200             18.0   293.490000
          NONE                             <200              2.0   366.715000
                                           Nan               1.0    69.900000
          SAMSUNG                          300-350           1.0   420.000000
                                           Nan               1.0   199.000000
          SMEG                             Nan               1.0  1800.000000
          UNBRANDED                        <200              4.0   434.275000
          WESTINGHOUSE                     Nan               1.0    69.900000
NSW        LG                              Nan               1.0    65.000000
          AIRFLO                           200-250           1.0  1189.000000
          AKAI                             500-550           1.0  1199.000000
          AL PICOOL                        <200              4.0   455.000000
          AMANA                            Nan               2.0   437.500000
          AMANA  KLEENMAID                 Nan               1.0    65.000000
          AQUA BLUE H20                    Nan               3.0    96.333333
          AQUA BLUE H20 FILTER             >600             10.0   104.000000
          AQUA BLUE H2O                    Nan               4.0   137.500000
...                                                          ...          ...
WA        MAYTAG WHIRLPOOL KENMORE JEENAIR Nan               1.0    65.000000
          MITSUBISHI                       Nan               1.0    66.570000
          NONE                             <200              2.0   170.495000
                                           >600              1.0   485.000000
                                           Nan              24.0    81.302083
          NORGE                            450-500           1.0    76.500000
                                           Nan              21.0    67.857143
          P SEAL                           Nan               5.0   121.720000
          PACIFIC                          Nan              18.0    65.500000
          PHILIPS                          Nan               2.0    85.000000
          PHILLIPS                         450-500           2.0    80.750000
                                           Nan              77.0    80.649351
          SAMSUNG                          Nan               5.0   116.970000
          SIMPSON                          Nan               2.0   102.000000
          SKOPE                            Nan              13.0    76.153846
          SMEG                             <200              3.0  1176.666667
                                           Nan               1.0   600.000000
          SNOWMAN                          Nan               1.0    68.000000
          UNBRANDED                        <200              1.0   219.950000
                                           Nan               1.0    85.000000
          WESTINGHOUSE                     400-450          11.0    87.272727
                                           450-500           1.0   100.000000
                                           500-550           4.0    90.000000
                                           Nan            1005.0    91.482945
          WHIRLPOOL                        Nan              18.0   252.888889
          WHIRLPOOL^ MAYTAG^ KENMORE       Nan               1.0    85.000000
          WILLIAMS                         Nan              16.0    63.750000
          WIPER STRIP                      Nan               2.0    91.375000
          ZANUSSI                          Nan              14.0    64.714286
          ZOPPAS                           Nan              12.0    68.250000

                                                                               \
                                                                 std      min
State     Brand                            Capacity_Type
ACT       FISHER & PAYKEL                  <200                  NaN   400.00
          LG                               400-450               NaN   600.00
          SAMSUNG                          <200                  NaN   115.00
                                           Nan                   NaN   500.00
Australia BARE-CO                          Nan                   NaN    73.80
          DOES NOT APPLY                   Nan             44.813525    69.90
          ELECTROLUX                       Nan                   NaN    86.00
          ENGEL                            <200                  NaN  1250.00
          FISHER & PAYKEL                  Nan              5.000000    70.00
          HELLER                           <200             0.000000   222.88
          KELVINATOR                       Nan              0.548483    68.95
          KOGAN                            <200            38.797938    99.68
          MASON TAYLOR                     200-250               NaN   865.99
                                           <200           147.076311   162.99
          NONE                             <200           240.027397   196.99
                                           Nan                   NaN    69.90
          SAMSUNG                          300-350               NaN   420.00
                                           Nan                   NaN   199.00
          SMEG                             Nan                   NaN  1800.00
          UNBRANDED                        <200           317.142888    60.89
          WESTINGHOUSE                     Nan                   NaN    69.90
NSW        LG                              Nan                   NaN    65.00
          AIRFLO                           200-250               NaN  1189.00
          AKAI                             500-550               NaN  1199.00
          AL PICOOL                        <200            58.022984   380.00
          AMANA                            Nan            512.652416    75.00
          AMANA  KLEENMAID                 Nan                   NaN    65.00
          AQUA BLUE H20                    Nan             35.571524    71.00
          AQUA BLUE H20 FILTER             >600             0.000000   104.00
          AQUA BLUE H2O                    Nan             64.314332    68.00
...                                                              ...      ...
WA        MAYTAG WHIRLPOOL KENMORE JEENAIR Nan                   NaN    65.00
          MITSUBISHI                       Nan                   NaN    66.57
          NONE                             <200            28.984307   150.00
                                           >600                  NaN   485.00
                                           Nan             32.287043    60.00
          NORGE                            450-500               NaN    76.50
                                           Nan              8.444144    60.00
          P SEAL                           Nan             50.064928    64.60
          PACIFIC                          Nan              8.003676    60.00
          PHILIPS                          Nan              0.000000    85.00
          PHILLIPS                         450-500          6.010408    76.50
                                           Nan              8.518581    60.00
          SAMSUNG                          Nan             79.038136    65.00
          SIMPSON                          Nan              0.000000   102.00
          SKOPE                            Nan             39.903730    60.00
          SMEG                             <200            23.094011  1150.00
                                           Nan                   NaN   600.00
          SNOWMAN                          Nan                   NaN    68.00
          UNBRANDED                        <200                  NaN   219.95
                                           Nan                   NaN    85.00
          WESTINGHOUSE                     400-450          9.045340    60.00
                                           450-500               NaN   100.00
                                           500-550          0.000000    90.00
                                           Nan             14.818891    60.00
          WHIRLPOOL                        Nan             37.256012   120.00
          WHIRLPOOL^ MAYTAG^ KENMORE       Nan                   NaN    85.00
          WILLIAMS                         Nan              8.062258    60.00
          WIPER STRIP                      Nan             15.026019    80.75
          ZANUSSI                          Nan              7.735319    60.00
          ZOPPAS                           Nan              8.616844    60.00

                                                                               \
                                                                25%       50%
State     Brand                            Capacity_Type
ACT       FISHER & PAYKEL                  <200            400.0000   400.000
          LG                               400-450         600.0000   600.000
          SAMSUNG                          <200            115.0000   115.000
                                           Nan             500.0000   500.000
Australia BARE-CO                          Nan              73.8000    73.800
          DOES NOT APPLY                   Nan             137.0000   168.000
          ELECTROLUX                       Nan              86.0000    86.000
          ENGEL                            <200           1250.0000  1250.000
          FISHER & PAYKEL                  Nan              77.5000    80.000
          HELLER                           <200            222.8800   222.880
          KELVINATOR                       Nan              69.4250    69.900
          KOGAN                            <200             99.6800   133.280
          MASON TAYLOR                     200-250         865.9900   865.990
                                           <200            197.9900   248.990
          NONE                             <200            281.8525   366.715
                                           Nan              69.9000    69.900
          SAMSUNG                          300-350         420.0000   420.000
                                           Nan             199.0000   199.000
          SMEG                             Nan            1800.0000  1800.000
          UNBRANDED                        <200            297.7100   422.305
          WESTINGHOUSE                     Nan              69.9000    69.900
NSW        LG                              Nan              65.0000    65.000
          AIRFLO                           200-250        1189.0000  1189.000
          AKAI                             500-550        1199.0000  1199.000
          AL PICOOL                        <200            432.5000   460.000
          AMANA                            Nan             256.2500   437.500
          AMANA  KLEENMAID                 Nan              65.0000    65.000
          AQUA BLUE H20                    Nan              76.0000    81.000
          AQUA BLUE H20 FILTER             >600            104.0000   104.000
          AQUA BLUE H2O                    Nan              91.2500   139.500
...                                                             ...       ...
WA        MAYTAG WHIRLPOOL KENMORE JEENAIR Nan              65.0000    65.000
          MITSUBISHI                       Nan              66.5700    66.570
          NONE                             <200            160.2475   170.495
                                           >600            485.0000   485.000
                                           Nan              67.3500    76.500
          NORGE                            450-500          76.5000    76.500
                                           Nan              60.0000    60.000
          P SEAL                           Nan              88.4000   124.100
          PACIFIC                          Nan              60.0000    60.000
          PHILIPS                          Nan              85.0000    85.000
          PHILLIPS                         450-500          78.6250    80.750
                                           Nan              76.5000    85.000
          SAMSUNG                          Nan              69.9000    70.000
          SIMPSON                          Nan             102.0000   102.000
          SKOPE                            Nan              60.0000    60.000
          SMEG                             <200           1170.0000  1190.000
                                           Nan             600.0000   600.000
          SNOWMAN                          Nan              68.0000    68.000
          UNBRANDED                        <200            219.9500   219.950
                                           Nan              85.0000    85.000
          WESTINGHOUSE                     400-450          90.0000    90.000
                                           450-500         100.0000   100.000
                                           500-550          90.0000    90.000
                                           Nan              90.0000    90.000
          WHIRLPOOL                        Nan             254.6000   254.600
          WHIRLPOOL^ MAYTAG^ KENMORE       Nan              85.0000    85.000
          WILLIAMS                         Nan              60.0000    60.000
          WIPER STRIP                      Nan              86.0625    91.375
          ZANUSSI                          Nan              60.0000    60.000
          ZOPPAS                           Nan              60.0000    68.250


                                                                75%      max
State     Brand                            Capacity_Type
ACT       FISHER & PAYKEL                  <200            400.0000   400.00
          LG                               400-450         600.0000   600.00
          SAMSUNG                          <200            115.0000   115.00
                                           Nan             500.0000   500.00
Australia BARE-CO                          Nan              73.8000    73.80
          DOES NOT APPLY                   Nan             175.0000   175.00
          ELECTROLUX                       Nan              86.0000    86.00
          ENGEL                            <200           1250.0000  1250.00
          FISHER & PAYKEL                  Nan              80.0000    80.00
          HELLER                           <200            222.8800   222.88
          KELVINATOR                       Nan              69.9000    69.90
          KOGAN                            <200            166.8800   166.88
          MASON TAYLOR                     200-250         865.9900   865.99
                                           <200            309.9900   742.99
          NONE                             <200            451.5775   536.44
                                           Nan              69.9000    69.90
          SAMSUNG                          300-350         420.0000   420.00
                                           Nan             199.0000   199.00
          SMEG                             Nan            1800.0000  1800.00
          UNBRANDED                        <200            558.8700   831.60
          WESTINGHOUSE                     Nan              69.9000    69.90
NSW        LG                              Nan              65.0000    65.00
          AIRFLO                           200-250        1189.0000  1189.00
          AKAI                             500-550        1199.0000  1199.00
          AL PICOOL                        <200            482.5000   520.00
          AMANA                            Nan             618.7500   800.00
          AMANA  KLEENMAID                 Nan              65.0000    65.00
          AQUA BLUE H20                    Nan             109.0000   137.00
          AQUA BLUE H20 FILTER             >600            104.0000   104.00
          AQUA BLUE H2O                    Nan             185.7500   203.00
...                                                             ...      ...
WA        MAYTAG WHIRLPOOL KENMORE JEENAIR Nan              65.0000    65.00
          MITSUBISHI                       Nan              66.5700    66.57
          NONE                             <200            180.7425   190.99
                                           >600            485.0000   485.00
                                           Nan              81.8125   224.00
          NORGE                            450-500          76.5000    76.50
                                           Nan              76.5000    76.50
          P SEAL                           Nan             136.0000   195.50
          PACIFIC                          Nan              76.5000    76.50
          PHILIPS                          Nan              85.0000    85.00
          PHILLIPS                         450-500          82.8750    85.00
                                           Nan              85.0000    85.00
          SAMSUNG                          Nan             129.9500   250.00
          SIMPSON                          Nan             102.0000   102.00
          SKOPE                            Nan              60.0000   180.00
          SMEG                             <200           1190.0000  1190.00
                                           Nan             600.0000   600.00
          SNOWMAN                          Nan              68.0000    68.00
          UNBRANDED                        <200            219.9500   219.95
                                           Nan              85.0000    85.00
          WESTINGHOUSE                     400-450          90.0000    90.00
                                           450-500         100.0000   100.00
                                           500-550          90.0000    90.00
                                           Nan              90.0000   120.00
          WHIRLPOOL                        Nan             254.6000   315.00
          WHIRLPOOL^ MAYTAG^ KENMORE       Nan              85.0000    85.00
          WILLIAMS                         Nan              60.0000    80.00
          WIPER STRIP                      Nan              96.6875   102.00
          ZANUSSI                          Nan              72.3750    76.50
          ZOPPAS                           Nan              76.5000    76.50

[701 rows x 8 columns]

In [205]:
export_csv = df_au.to_csv (r'data/export_dataframe.csv', index = None, header=True)

In [206]:
result_csv = df_result.to_csv (r'data/results.csv', index = None, header=True)